<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic 4 start a1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
Home    <p>Ionic documentation <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> </p>

<ion-button routerLink="/choose-mode" routerDirection="forward">choose mode</ion-button>
<ion-button routerLink="/learn-mode" routerDirection="forward">learn mode</ion-button>
<ion-button routerLink="/practice-mode" routerDirection="forward">practice mode</ion-button>
  </div>
</ion-content>
